/* Rating Stars */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

/* Stock buttons */

.plus,
.minus {
  padding: 0.1rem 0.5rem;
  width: 28px;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

#product_image {
  margin-top: 9rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Reviews Stars */

.rating {
  margin-top: 10rem;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.star {
  display: inline;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
  cursor: pointer;
}

.star:first-child {
  padding-left: 0;
}

/* User Review List */

.review_user {
  color: grey;
  margin: 0
}

.review_comment {
  overflow-wrap: break-word;
}